<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479774717746-fsjnea8o3uov5fu23bgsn2h25qpt2v6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479774717746-fsjnea8o3uov5fu23bgsn2h25qpt2v6b</string>
	<key>API_KEY</key>
	<string>AIzaSyCSgne58Bb3aBpjIQ7yH8YwgY5qVB2eydQ</string>
	<key>GCM_SENDER_ID</key>
	<string>479774717746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prasadam</string>
	<key>PROJECT_ID</key>
	<string>prasadam-9c71e</string>
	<key>STORAGE_BUCKET</key>
	<string>prasadam-9c71e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479774717746:ios:c8d195ee8696b5dbc1c92b</string>
</dict>
</plist>